/* Estrutura geral */
*{
  margin: 0;
  padding: 0;
  overflow-x: none;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.container{
  max-width: 1280px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nome{
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-nome a{
 text-decoration: none;
 color: white;
 text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.678);
}

header.rolagem{
  background-color: #401801;
  padding: 20px 0%;
}

header.rolagem a{
  color: #F2DFBB;
  text-shadow: none;
}

header{
  width: 100%;
  padding: 60px 0%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.8s ease-in-out;
  z-index: 2;
}

header ul{
  list-style-type: none;
}

header ul li{
  display: inline-block;
  margin: 0 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.678);
  padding-bottom: 5px;
  font-size: 15px;
  z-index: 1000;
}

.logo{
  width: 88.18px;
  height: 49px;
  background-image: url(img/551ddd5f-5f38-46dd-8804-c9bd41c24afa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-menu{
  position: absolute;
  display: none;
  background-color: #401801;
  margin-top: 5px;
  width: 170px;
}

.dropdown-menu a{
  display: block;
  padding: 10px;
  padding-right: 11px;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu ul{
  display: block;
  margin: 5px;
}

nav ul li a{
  position: relative;
}

nav ul li a::after{
  content: "";
  width: 0%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

#header.rolagem nav ul li a::after{
  background-color: #F2DFBB;
}

nav ul li a:hover::after{
  width: 100%;
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  display: none;
  background-color: #401801;
  margin-top: 5px;
  width: 170px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 11px;
  color: #F2DFBB;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  display: block;
  margin: 5px;
}


/* Mapa */
#map {
  width: 70%;
  height: 70%;
  border: 4px solid #401801;
  border-radius: 12px;
  box-shadow: 0 0 10px #5c615f88;
  z-index: 0;
}

section{
  width: 100%;
  height: 100vh;
  background-image: url(img/1mapa.png); /* Caminho da imagem */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo dos Popups */
.leaflet-popup-content-wrapper {
  background: #F2CF8D;
  color: #401801;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid #45BF9D;
}

.leaflet-popup-content img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.leaflet-popup-tip {
  background: #45BF9D;
}


.leaflet-control-zoom {
  box-shadow: 0 0 5px #45BF9D;
  border-radius: 8px;
  border: none;
}

/* Rodapé */
footer {
  background-color: #401801;
  height: 270px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tudo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90%;
}

.logo-footer {
  width: 242px;
  height: 135px;
}

.tudo-rede {
  display: flex;
  gap: 150px;
}

.tudo-rede h2 {
  margin-top: 40px;
}

.tudo-rede a {
  text-decoration: none;
  color: #F2DFBB;
}

footer h2 {
  margin-bottom: 10px;
  color: #F2CF8D;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a:hover {
  color: #58F5C8;
}

.tudo-tudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icone {
  margin-left: 20px;
  margin-top: 40px;
}

.botao {
  width: 100px;
  height: 34px;
  border: 0;
  border-radius: 10px;
  background-color: #58F5C8;
  cursor: pointer;
}

.botao:hover {
  transform: scale(1.1);
}

#footer {
  width: 100%;
  height: 30px;
  background-color: #2E1101;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #F2DFBB;
}