*{
    margin: 0;
    padding: 0;
    overflow-x: none;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

html{
    background-color: #A66F3F;
    overflow-x: hidden;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nome{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-nome a{
   text-decoration: none;
   color: white;
}

header.rolagem{
    background-color: #401801;
    padding: 20px 0%;
}

header.rolagem a{
    color: #F2DFBB;
    text-shadow: none;
}

header{
    width: 100%;
    padding: 60px 0%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.8s ease-in-out;
    z-index: 2;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 77, 77, 0.678);
    padding-bottom: 5px;
    font-size: 15px;
}

.banner{
    height: 100vh;
    width: 100%;
    background-image: url(img/Design\ sem\ nome\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden; /* ESSENCIAL: Esconde o que sair fora */
}

.slider-track {
    width: 100%;
    height: 100%;
    display: flex; 
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    width: 100%;
    height: 100%; 
    flex-shrink: 0; /* Impede que os itens encolham */
    display: flex;
}

.slider-1{
    align-items: center;
}

.slider-2{
    align-items: center;
    justify-content: center;
}

.slider-item img{
    width: 235px;
    height: 197px; 
    border-radius: 10px;
}

.slider-item img:hover{
    transform: scale(1.1);
}

.flex-item{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.block{
    margin-left: 100px;
}

.banner h1{
    font-size: 4em;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 77, 77, 0.678);
}

.banner h2{
    font-size: 1.9em;
    color: #F2DFBB;
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 77, 77, 0.678);
    position: relative;
}

.button{
    padding:20px 50px ;
    background-color: transparent;
    border-color: transparent;
    margin-top: 25px;
    margin-left:300px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.button::before{
    content: '';
    background-color: #58F5C8;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 50%;
    top: var(--eixoY);
    left: var(--eixoX);
    transform: translate(-50%, -50%);
    transition: width .7s, height .7s;
}

.button:hover::before{
    width: 1000px;
    height: 1000px;
}

.button h2:hover{
    cursor: pointer;
    color: black;
    text-shadow: none;
}

.logo{
    width: 88.18px;
    height: 49px;
    background-image: url(img/551ddd5f-5f38-46dd-8804-c9bd41c24afa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown-menu{
    position: absolute;
    display: none;
    background-color: #401801;
    margin-top: 5px;
    width: 170px;
}

.dropdown-menu a{
    display: block;
    padding: 10px;
    padding-right: 11px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu ul{
    display: block;
    margin: 5px;
}

#pre-loader{
    background: #7a522f url(img/pre.gif) no-repeat center center;
    background-size: 13%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav ul li a{
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

#header.rolagem nav ul li a::after{
    background-color: #F2DFBB;
}

nav ul li a:hover::after{
    width: 100%;
}

.nilo-tudo{
    height: auto;
    width: 100%;
    background-color:#F2CF8D ;
    display: flex;
    box-shadow: -1px -1px 5px 5px #00000018;
    padding: 15px;
}

.icone-olho{
    margin-top: 65px;
    width: 50%;
}

.rio-nilo{
    width: 93%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}


.localizacao-nilo, .importancia-nilo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localizacao-nilo p, .importancia-nilo p{
    margin: 20px;
}

.foto-nilo h2{
    margin: 0px 20px 20px 20px;
}

.foto-nilo{
    width: 50%;
    height: 100%;
}

.sociedade-tudo{
    height: auto;
    width: 100%;
    background-color:#F2CF8D ;
    box-shadow: -1px -1px 5px 5px #00000018;
    padding: 15px;
}

.estrutura-h2{
    width: 100%;
}

.estrutura-h2 h2{
    margin-left: 15px;
}

h2, h3{
    color: #401801;
}

.sociedade-img{
    display:flex;
    width: 100%;
    margin: 20px 0;
}

.posicao{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soci-img{
    width: 95%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}

.divisao-estrutura{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.posicao-estrutura{
    width: 50%;
    display: flex;
    margin: 0 15px;
    gap: 15px;
}

.estrutura-explicacao p{
    margin: 10px 15px;
}

.religiao-tudo{
    height: auto;
    width: 100%;
    background-color:#F2CF8D ;
    display: flex;
    box-shadow: -1px -1px 5px 5px #00000018;
    padding: 15px;
}

.reli-h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-reli{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-reli p{
    width: 50%;
    margin:15px;
}

.reli-sub{
    display: block;
}

.divisao-reli{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divisao-reli h2{
    margin: 0 20px;
}

.divisao-reli hr{
    width: 35%;
}

hr{
    border-color: #A66F3F;
}

.deuses{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.uni-deuses{
    width: 50%;
    display: flex;
}

.container-flip{
    width: 163.75px;
    height: 208px;
    border-radius: 15px;
    border: 5px solid #256654;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.img-deuses{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-deuses{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flip{
    width: 163.75px;
    height: 208px;
    border: 5px solid #256654;
    position: relative;
}

.container-flip:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
    height: 100%;
    width: 100%;
}

.frente,.tras{
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.frente{
    background-image: url(img/Design\ sem\ nome\ \(4\).png);
    background-size: cover;
}

.tras{
    background-image:url(img/Design\ sem\ nome\ \(6\).png) ;
    background-size: cover;
    transform: rotateY(180deg);
}

.d1{
    background-image:url(img/Design\ sem\ nome\ \(11\).png) ;
    background-size: cover;
    transform: rotateY(180deg);
}

.d2{
    background-image:url(img/Design\ sem\ nome\ \(7\).png) ;
    background-size: cover;
    transform: rotateY(180deg);
}

.d3{
    background-image:url(img/Design\ sem\ nome\ \(8\).png) ;
    background-size: cover;
    transform: rotateY(180deg);
}

.d4{
    background-image:url(img/Design\ sem\ nome\ \(9\).png) ;
    background-size: cover;
    transform: rotateY(180deg);
}

.d5{
    background-image:url(img/Design\ sem\ nome\ \(10\).png) ;
    background-size: cover;
    transform: rotateY(180deg);
}

.tudo-banner{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-banner{
    margin-top: 30px;
}

.tudo-banner-block{
    width: 80%;
}

.h2-causa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.posicao-estrutura h2{
    margin: 10px 0px;
}

.text-causa{
    margin: 15px;
}

.cate-tudo{
    height: auto;
    width: 100%;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.cate-causa{
    width: 33.33%;
    height: auto;
    background-color:#F2CF8D  ;
    box-shadow: -1px -1px 5px 5px #00000018;
}

.img-causa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.causa-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 263.33px;
}

.economia{
    background-image: url(img/Wikimedia_2016_-21.jpg);
}

.politica{
    background-image: url(img/Ramses_II-IMG_4382-black.jpg);
}

.ideologia{
    background-image: url(img/Cleopatra_VII_40-30_BCE_Altes_Museum_Berlin_1_28399854659-2-scaled.webp);
}

.amenofis{
    background-image: url(img/amenhotep-iii-1224726_widexl.jpg);
}

.seti{
    background-image: url(img/images\ \(1\).jpg);
}

.narmer{
    background-image: url(img/images\ \(2\).jpg);
}

.h2-causa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.conteudo-tudo{
    height: auto;
    width: 100%;
    background-color:#F2CF8D ;
    box-shadow: -1px -1px 5px 5px #00000018;
    padding: 15px;
}


footer{
    background-color: #401801;
    bottom: 0;
    left: 0;
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tudo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
}

.logo-footer{
    width: 242.5px;
    height: 134.75px;
}

.tudo-rede{
    display: flex;
    gap: 150px;
}

.tudo-rede h2{
    margin-top: 40px;
}

.tudo-rede a{
    text-decoration: none;
    color: #F2DFBB;
}

footer h2{
    margin-bottom: 10px;
    color: #F2CF8D;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer ul li a:hover{
    cursor: pointer;
    color: #58F5C8;
}

footer ul li{
    margin-bottom: 5px;
}

.tudo-tudo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.icone{
    margin-left: 20px;
    margin-top: 40px;
}

.botao:hover{
    transform: scale(1.1);
}

#footer{
    width: 100%;
    height: 30px;
    background-color: #2E1101;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #F2DFBB;
}
.botao{
    width: 100px;
    border-radius: 10px;
    height: 34px;
    background-color: #58F5C8;
    border: 0;
    cursor: pointer;
}

